@model IEnumerable<NGO_HubConnect.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
}
<div>
<h2>List of Registered Events</h2>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.EventId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayName("Operations")
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
            <td> 
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="Email" value="@item.Email" />
                        <input type="hidden" name="EventId" value="@item.EventId" />
                        <input type="hidden" name="EventName" value="@item.EventName" />
                        <input type="hidden" name="Location" value="@item.Location" />
                        <button type="submit" class="btn btn-primary">Withdraw</button>
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
</div>